{% extends 'layouts/base.html' %} {% load i18n %} {% load static %} {% block content %}

<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area">
  <div class="big-add-area mb-50" style="border-top: 1px solid #156597">
    <div class="container mt-30">
      <div class="row justify-content-center">
        <!-- Intro News Tabs Area -->
        <div class="col-12 col-lg-8">
          <div class="intro-news-tab">
            <!-- Intro News Filter -->
            <h4 class="mb-30">{% trans 'About'%}</h4>
            <p style="margin-bottom: 0px; text-align: justify">
              {{about_content.content|safe}}
            </p>
          </div>
        </div>
        <!-- Sidebar Widget -->
        <div class="col-12 col-sm-9 col-md-6 col-lg-4">
          <div class="single-widget-area news-widget mb-30">
            <h4 class="mb-30">{% trans 'News'%}</h4>
            {% for lpost in latest_top %}
            <!-- Single News Area -->
            <div
              class="single-blog-post d-flex style-4 mb-30"
              style="border-bottom: 1px solid #d2d2d2"
            >
              <!-- Blog Content -->
              <div class="blog-content" style="padding: 0 0 20px 0">
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="post-title"
                  style="color: #156597"
                >
                  {{lpost.title}}
                </a>
                <span class="post-date"
                  >{{lpost.date_created|date:"M d, Y"}}</span
                >
                <p style="margin-bottom: 0px; text-align: justify">
                  {{lpost.Description|truncatechars:200}}
                </p>
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="pb-30"
                  style="color: #156597; font-size: 13px"
                >
                  {% trans 'Read more'%}
                </a>
              </div>
            </div>
            {% endfor %}
            <h4 class="mb-30">{% trans 'Partners'%}</h4>
            <div class="owl-carousel">
              {% for partner in about_partner %}
                  <div class="item">
                      <img class="d-block" style="height: 80px; width: auto;" src="{{ partner.logo.url }}" alt="Partner {{ forloop.counter }}" />
                  </div>
              {% endfor %}
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Intro News Area End ##### -->
{% endblock content %}
