{% extends 'layouts/base.html' %}{% load static %} {% load i18n %} {% block content %} {% load embed_video_tags %}

<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area mb-50">
  <div id="carouselExampleControls" class="carousel slide my-4" data-ride="carousel">
    <div class="carousel-inner">
      
      {% for banner in banners %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
          <div style="height: 500px">
            <img class="d-block w-100 h-100 bg-overlay" src="{{ banner.banner.url }}" alt="Slide">
          </div>
          <div class="carousel-caption d-none d-sm-block" style="background-image: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0,.2)); border-radius: 10px">
            <h1 class="text-white ms-5">{% trans 'Kick-off meeting in Mongolia' %}</h1>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans 'Previous'%}</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans 'Next'%}</span>
    </a>
  </div>
  <!--end carousel-->

  <div class="big-add-area mb-50">
    <div class="container-fluid">
      <h4 class="text-center my-5"> {% trans 'Welcome to the Digital Move project'%} </h4>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <p class="text-black text-justify" style="max-height: 300px"> {{videos.title}}... <a style="font-size: 14px; color:gray; font-weight: 400 " href="{%url 'about-page'%}"> {%trans 'Read more'%} </a> </p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex justify-content-center">{% video videos.url 'small' %}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-add-area mb-50">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- Intro News Tabs Area -->
        <div class="col-12 col-lg-8">
          <div class="intro-news-tab">
            <!-- Intro News Filter -->
            <div class="intro-news-filter d-flex justify-content-between">
              <h6>{% trans 'All the news'%}</h6>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a
                    class="nav-item nav-link active"
                    href="{%url 'news' %}"
                    >{% trans 'See all'%}</a
                  >
                </div>
              </nav>
            </div>
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-1"
                role="tabpanel"
                aria-labelledby="nav1"
              >
                <div class="row">
                  {% for lpost in latest_top %}
                  <!-- Single News Area -->
                  <div class="col-12 col-sm-6">
                    <div class="single-blog-post style-2 mb-5">
                      <!-- Blog Thumbnail -->
                      <div class="blog-thumbnail">
                        <a href="{% url 'view-post' lpost.id %}"
                          ><img
                            src="{{lpost.banner_path.url}}"
                            alt="{{lpost.title}}"
                        /></a>
                      </div>

                      <!-- Blog Content -->
                      <div class="blog-content">
                        <span class="post-date"
                          >{{lpost.date_created|date:"M d, Y"}}</span
                        >
                        <a
                          href="{% url 'view-post' lpost.id %}"
                          class="post-title"
                          >{{lpost.title}}</a
                        >
                        <a
                          href="mailto:{{lpost.user.email}}"
                          target="_blank"
                          class="post-author"
                          >{% trans 'By'%} {{lpost.user.username}}</a
                        >
                      </div>
                    </div>
                  </div>
                  {% endfor %} {% for lpost in latest_bottom %}
                  <!-- Single News Area -->

                  <div class="col-12 col-sm-6">
                    <div class="single-blog-post d-flex style-4 mb-30">
                      <!-- Blog Thumbnail -->
                      <div class="blog-thumbnail">
                        <a href="{% url 'view-post' lpost.id %}"
                          ><img
                            src="{{lpost.banner_path.url}}"
                            alt="{{lpost.title}}"
                        /></a>
                      </div>

                      <!-- Blog Content -->
                      <div class="blog-content">
                        <span class="post-date"
                          >{{lpost.date_created|date:"M d, Y"}}</span
                        >
                        <a
                          href="{% url 'view-post' lpost.id %}"
                          class="post-title"
                          style="
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                          "
                          >{{lpost.title}}</a
                        >
                      </div>
                    </div>
                    <p style="margin-bottom: 0px; text-align: justify">
                      {{lpost.Description|truncatechars:200}}
                    </p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="col-12 col-sm-9 col-md-6 col-lg-4">
          <div class="single-widget-area news-widget mb-30">
            <h4 class="mb-30">{% trans 'Latest News'%}</h4>
            {% for lpost in latest_bottom %}
            <!-- Single News Area -->
            <div
              class="single-blog-post d-flex style-4 mb-30"
              style="border-bottom: 1px solid #d2d2d2"
            >
              <!-- Blog Content -->
              <div class="blog-content" style="padding: 0 0 20px 0">
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="post-title"
                  style="color: #ef1b48"
                >
                  {{lpost.title}}
                </a>
                <span class="post-date"
                  >{{lpost.date_created|date:"M d, Y"}}</span
                >
                <p style="margin-bottom: 0px; text-align: justify">
                  {{lpost.Description|truncatechars:250}}
                </p>
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="pb-30"
                  style="color: #ef1b48; font-size: 13px"
                >
                {% trans 'Read more'%}
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Intro News Area End ##### -->
{% comment %} <div class="big-add-area mb-100">
  <div class="container-fluid">
    {% for category in list_category %}
    <div class="intro-news-filter d-flex justify-content-between">
      <h6>{{category.name}}</h6>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            href="{% url 'category-post' category.category_id %}"
            >{% trans 'Read more'%}</a
          >
        </div>
      </nav>
    </div>
    <div class="row">
      {% for lpost in category.list_post %}
      <!-- Single News Area -->
      <div class="col-sm col-lg-4">
        <div class="single-blog-post style-2 mb-5">
          <!-- Blog Thumbnail -->
          <div class="blog-thumbnail">
            <a href="{% url 'view-post' lpost.id %}"
              ><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"
            /></a>
          </div>
          <!-- Blog Content -->
          <div class="blog-content">
            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
            <a href="{% url 'view-post' lpost.id %}" class="post-title"
              >{{lpost.title}}</a
            >
            <a
              href="mailto:{{lpost.user.email}}"
              target="_blank"
              class="post-author"
              >{% trans 'By'%} {{lpost.user.username}}</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div> {% endcomment %}

{% endblock content %}
