{% extends 'layouts/base.html' %} {% load i18n %} {% load static %} {% block content %} {% load embed_video_tags %}

<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area">
  <div class="big-add-area mb-50" style="border-top: 1px solid #156597">
    <div class="container mt-30">
      <div class="row justify-content-center">
        <!-- Intro News Tabs Area -->
        <div class="col-12 col-lg-8">
          <div class="intro-news-tab">
            <!-- Intro News Filter -->
            <h4 class="mb-30">{% trans 'Media'%}</h4>
            {% if media %}
                {% for video_resource in media %}
                <div class="card py-3 mb-3">
                    <div class="card-body">
                      <h6 class="card-text">{{ video_resource.title }}</h6>
                      {%for link in video_resource.content%}
                      <a class="card-text mx-1" href="{{link.url}}"><small class="text-primary font-weight-normal bg-light p-2 rounded" >{{ link.title }}</small></a>
                      {%endfor%}
                      <p class="card-text"><small class="text-muted">Last updated {{video_resource.date_created|timesince}} ago</small></p>
                    </div>
                    <div class="row justify-content-center">
                        {% video video_resource.url '700x300' %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>{% trans 'No media resources available.'%}</p>
            {% endif %}
          </div>
        </div>
        <!-- Sidebar Widget -->
        <div class="col-12 col-sm-9 col-md-6 col-lg-4">
          <div class="single-widget-area news-widget mb-30">
            <h4 class="mb-30">{% trans 'News'%}</h4>
            {% for lpost in latest_top %}
            <!-- Single News Area -->
            <div
              class="single-blog-post d-flex style-4 mb-30"
              style="border-bottom: 1px solid #d2d2d2"
            >
              <!-- Blog Content -->
              <div class="blog-content" style="padding: 0 0 20px 0">
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="post-title"
                  style="color: #156597"
                >
                  {{lpost.title}}
                </a>
                <span class="post-date"
                  >{{lpost.date_created|date:"M d, Y"}}</span
                >
                <p style="margin-bottom: 0px; text-align: justify">
                  {{lpost.Description|truncatechars:200}}
                </p>
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="pb-30"
                  style="color: #156597; font-size: 13px"
                >
                  {% trans 'Read more'%}
                </a>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Intro News Area End ##### -->

{% endblock content %}
