{% extends 'layouts/base.html' %} {% load i18n %} {% load static %} {% block content %}

<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area">
  <div class="big-add-area mb-5" style="border-top: 1px solid #156597">
    <div class="container-fluid px-5 mt-5">
      <div class="row justify-content-center">
        <!-- Intro News Tabs Area -->
        <div class="col-12 col-sm-12 col-lg-8">
          <div class="intro-news-tab">
            <!-- Intro News Filter -->
            <h4 class="mb-30">{% trans 'Partners'%}</h4>
            <div class="owl-carousel owl-theme my-5">
                {% for partner in about_partner %}
                    <div class="item">
                        <div class="img_partner img-fluid" style="height: 200px; width: 200px;">
                          <img class="d-block align-self-center img-reponsive" style="height: auto; width: auto; max-height: 200px" src="{{ partner.logo.url }}" alt="Partner {{ forloop.counter }}" />
                        </div>
                        <p class="mx-auto mt-3">{{partner.name}}</p>
                    </div>
                {% endfor %}
              </div>
          </div>
          <div class="partner_table">
            <table class="table table-bordered" id="partner_table" border="1">
              <thead class="thead-dark">
                <th>{%trans 'No.'%}</th>
                <th>{%trans 'Role'%}</th>
                <th>{%trans 'Short name'%}</th>
                <th>{%trans 'Legal name'%}</th>
                <th>{%trans 'Country'%}</th>
                <th>{%trans 'Link'%}</th>
              </thead>
              {% for item in about_partner %}
              <tbody>
                <td>{{ forloop.counter }}</td>
                <td>{{item.role}}</td>
                <td>{{item.abbreviations}}</td>
                <td>{{item.name}}</td>
                <td>{{item.country}}</td>
                <td><a class="text-primary" href="{{item.partnerUrl}}">{{item.partnerUrl}}</a></td>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
        <!-- Sidebar Widget -->
        <div class="col-12 col-sm-9 col-md-6 col-lg-4">
          <div class="single-widget-area news-widget mb-30">
            <h4 class="mb-30">{% trans 'News'%}</h4>
            {% for lpost in latest_top %}
            <!-- Single News Area -->
            <div
              class="single-blog-post d-flex style-4 mb-30"
              style="border-bottom: 1px solid #d2d2d2"
            >
              <!-- Blog Content -->
              <div class="blog-content" style="padding: 0 0 20px 0">
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="post-title"
                  style="color: #156597"
                >
                  {{lpost.title}}
                </a>
                <span class="post-date"
                  >{{lpost.date_created|date:"M d, Y"}}</span
                >
                <p style="margin-bottom: 0px; text-align: justify">
                  {{lpost.Description|truncatechars:200}}
                </p>
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="pb-30"
                  style="color: #156597; font-size: 13px"
                >
                  {% trans 'Read more'%}
                </a>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Intro News Area End ##### -->

<script type="text/javascript">

    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
          items: 3,
          loop: true,
          margin: 15,
          dots:true
          autoplay: true,
          autoplayTimeout: 3000,
          autoplayHoverPause: true
      });
    });
  </script>

{% endblock content %}
