{% extends 'layouts/base.html' %} {% load i18n %} {% load static %} {% block content %}

<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area">
  <div class="big-add-area mb-50" style="border-top: 1px solid #156597">
    <div class="container mt-30">
      <div class="row justify-content-center">
        <!-- Intro News Tabs Area -->
        <div class="col-12 col-lg-8">
          <div class="intro-news-tab">
            <!-- Intro News Filter -->
            <h4 class="mb-30">{% trans 'Resource'%}</h4>
            {% if resources %}
            {% for resource in resources %}
            <div class="media d-flex flex-wrap my-3 mb-30">
                <img class="align-self-center mr-3 rounded" style="width: 200px" src="{{ resource.image.url }}" alt="{{ resource.title }}">
                <div class="media-body">
                  <a href="{{ resource.file.url }}" class="text-primary lead" download>{{ resource.title }}</a>
                </div>
            </div>                
            {% endfor %}
            {% else %}
                <p>{% trans 'No media resources available.'%}</p>
            {% endif %}
          </div>
        </div>
        <!-- Sidebar Widget -->
        <div class="col-12 col-sm-9 col-md-6 col-lg-4">
          <div class="single-widget-area news-widget mb-30">
            <h4 class="mb-30">{% trans 'News'%}</h4>
            {% for lpost in latest_top %}
            <!-- Single News Area -->
            <div
              class="single-blog-post d-flex style-4 mb-30"
              style="border-bottom: 1px solid #d2d2d2"
            >
              <!-- Blog Content -->
              <div class="blog-content" style="padding: 0 0 20px 0">
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="post-title"
                  style="color: #156597"
                >
                  {{lpost.title}}
                </a>
                <span class="post-date"
                  >{{lpost.date_created|date:"M d, Y"}}</span
                >
                <p style="margin-bottom: 0px; text-align: justify">
                  {{lpost.Description|truncatechars:200}}
                </p>
                <a
                  href="{% url 'view-post' lpost.pk %}"
                  class="pb-30"
                  style="color: #156597; font-size: 13px"
                >
                  {% trans 'Read more'%}
                </a>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Intro News Area End ##### -->

{% endblock content %}
