{% load static %}{% load i18n %}
<footer class="footer-area">
  <!-- Footer Content -->
  <section class="footers bg-light">
    <div class="container pt-5">
      <div class="row justify-content-between">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="footers-logo ">
            <h6 class="text-uppercase"> {%trans 'Project condinated by'%} </h6>
              <img class="rounded mx-5 d-block"
              src="{% static 'img/core-img/city_university.png' %}"
              style="width: 120px"
            />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 align-self-center">
          <div class="owl-carousel">
            {% for partner in about_partner %}
                <div class="item">
                    <img class="d-block" style="height: 80px; width: auto;" src="{{ partner.logo.url }}" alt="Partner {{ forloop.counter }}" />
                </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="footers-logo">
              <img 
                class="rounded mx-auto d-block"
                src="{% static 'img/core-img/thumbnail.jpg' %}"
                style="width: 120px"
              />
          </div>
          <div class="footer-info mt-3">
            <p class="text-justify"> {%trans 'Co-funded by the Erasmus+ Programme of the European Union. DIGITAL MOVE is co-financed by the European Commission through the Erasmus+ Programme, under project number 101082527.' %} </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

<script type="text/javascript">

  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
        items: 3,
        loop: true,
        margin: 15,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true
    });
  });
</script>
