{% load static %}{% load i18n %}
<footer class="footer-area">
  <!-- Footer Content -->
  <section class="footers bg-light">
    <div class="container pt-5">
      <div class="row justify-content-between">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="footers-logo my-2">
            <h6 class="text-uppercase">{%trans 'Project condinated by'%}</h6>
            <img
              class="rounded mx-5 d-block"
              src="{% static 'img/core-img/city_university.png' %}"
              style="width: 120px"
            />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
          <div class="row row-cols-4 row-cols-lg-5">
            {% for partner in about_partner %}
            <div class="p-2">
              <a href="{{partner.partnerUrl}}">
                <img
                  class="d-block"
                  style="height: 60px; width: auto"
                  src="{{ partner.logo.url }}"
                  alt="{{ partner.name }}"
                />
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="footers-logo my-2 row">
            <img
              class="rounded mx-3"
              src="{% static 'img/core-img/thumbnail.jpg' %}"
              style="width: 120px"
            />
            <img
              class="rounded mx-3"
              src="{% static 'img/core-img/logo_digitalmove.png' %}"
              style="width: 150px"
            />
          </div>
          <div class="footer-info mt-3">
            <p class="text-justify">
              {%trans 'Co-funded by the Erasmus+ Programme of the European Union. DIGITAL MOVE is co-financed by the European Commission through the Erasmus+ Programme, under project number 101082527.'%}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>


<script type="text/javascript">
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      items: 3,
      loop: true,
      margin: 15,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
    });
  });
</script>
